In [36]:
import numpy as np
import pandas as pd
import plotly.graph_objs as go
import plotly.express as px
from dash import Dash, html, dcc, Input, Output

In [37]:
# External CSS stylesheet (Bootstrap)
external_stylesheets = [
    {
        "href": "https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css",
        "rel": "stylesheet",
        "integrity": "sha384-MCw98/SFnGE8fJT3GXwEOngsV7Z127NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO",
        "crossorigin": "anonymous"
    }
]

# Initialize the Dash app
app = Dash(__name__, external_stylesheets=external_stylesheets)

In [38]:
# Example layout
app.layout = html.Div([
    html.H1("Hello Dash!", className="text-center mt-5"),
    html.P("Your app is running successfully with Bootstrap styling.")
])

if __name__ == "__main__":
    app.run(debug=True)

### <Center> Analysis

In [39]:
patients = pd.read_csv(r'C:\All Things\2- Coding\DSMP CODEs\The-DataScience-Notebook\Lecture 48 Making_a_Corona_virusCovid_19_Dashboard_using_Plotly_and_Dash\IndividualDetails.csv')

patients.head()

,id,government_id,diagnosed_date,age,gender,detected_city,detected_district,detected_state,nationality,current_status,status_change_date,notes
0,0,KL-TS-P1,30/01/2020,20,F,Thrissur,Thrissur,Kerala,India,Recovered,14/02/2020,Travelled from Wuhan
1,1,KL-AL-P1,02/02/2020,NaN,NaN,Alappuzha,Alappuzha,Kerala,India,Recovered,14/02/2020,Travelled from Wuhan
2,2,KL-KS-P1,03/02/2020,NaN,NaN,Kasaragod,Kasaragod,Kerala,India,Recovered,14/02/2020,Travelled from Wuhan
3,3,DL-P1,02/03/2020,45,M,East Delhi (Mayur Vihar),East Delhi,Delhi,India,Recovered,15/03/2020,"Travelled from Austria, Italy"
4,4,TS-P1,02/03/2020,24,M,Hyderabad,Hyderabad,Telangana,India,Recovered,02/03/2020,"Travelled from Dubai to Bangalore on 20th Feb,..."

In [40]:
patients['current_status'].value_counts()

current_status
Hospitalized    8301
Recovered        139
Deceased          30
Migrated           1
Name: count, dtype: int64

In [41]:
total_cases = patients.shape[0]

total_cases

8472

In [42]:
active = patients[patients['current_status'] == 'Hospitalized'].shape[0]

active

8301

In [43]:
recovered = patients[patients['current_status'] == 'Recovered'].shape[0]

recovered

139

In [44]:
death = patients[patients['current_status'] == 'Deceased'].shape[0]

death

30

In [52]:
# state wise corona cases
 
patients['detected_state'].value_counts().reset_index()

                 detected_state  count
0                   Maharashtra   1761
1                         Delhi   1069
2                    Tamil Nadu    969
3                     Rajasthan    700
4                Madhya Pradesh    529
5                     Telangana    503
6                       Gujarat    468
7                 Uttar Pradesh    452
8                Andhra Pradesh    405
9                        Kerala    373
10                    Karnataka    226
11            Jammu and Kashmir    224
12                      Haryana    179
13                       Punjab    158
14                  West Bengal    134
15                        Bihar     64
16                       Odisha     54
17                  Uttarakhand     35
18             Himachal Pradesh     32
19                        Assam     29
20                 Chhattisgarh     25
21                   Chandigarh     19
22                    Jharkhand     17
23                       Ladakh     15
24  Andaman and Nicobar Islands     11
25                   Puducherry      7
26                          Goa      7
27                      Manipur      2
28                      Tripura      2
29                      Mizoram      1
30            Arunachal Pradesh      1
31       Dadra and Nagar Haveli      1

In [51]:
# now with the current state of the patients

npat = patients[patients['current_status'] == 'Deceased']
pbar = npat['detected_state'].value_counts().reset_index()
pbar

       detected_state  count
0           Karnataka      6
1             Gujarat      4
2         West Bengal      3
3         Maharashtra      2
4              Kerala      2
5              Punjab      2
6      Madhya Pradesh      2
7               Delhi      1
8               Bihar      1
9    Himachal Pradesh      1
10         Tamil Nadu      1
11  Jammu and Kashmir      1
12          Rajasthan      1
13          Telangana      1
14      Uttar Pradesh      1
15             Odisha      1