### **Tuples in Python: A Detailed Note**

Tuples are one of the basic and essential data types in Python. They are immutable, ordered collections of items that can store elements of different data types. This makes them versatile and widely used in scenarios where data needs to remain unchanged.

---

### **1. Key Features of Tuples**
1. **Ordered**: Tuples maintain the order of elements as inserted.
2. **Immutable**: Once created, you cannot modify, add, or remove elements from a tuple.
3. **Heterogeneous**: Tuples can store elements of different data types (e.g., integers, strings, lists).
4. **Hashable**: Tuples can be used as keys in dictionaries if they only contain hashable elements.
5. **Efficient**: Tuples are faster and more memory-efficient than lists because of their immutability.

---

### **2. Creating Tuples**

#### **2.1 Empty Tuple**
```python
empty_tuple = ()
print(empty_tuple)  # Output: ()
```

#### **2.2 Tuple with One Element**
To create a tuple with a single element, you must include a trailing comma:
```python
single_element_tuple = (42,)
print(type(single_element_tuple))  # Output: <class 'tuple'>

not_a_tuple = (42)
print(type(not_a_tuple))  # Output: <class 'int'>
```

#### **2.3 Tuple with Multiple Elements**
```python
tuple_example = (1, "Python", 3.14)
print(tuple_example)  # Output: (1, 'Python', 3.14)
```

#### **2.4 Using `tuple()` Constructor**
You can create tuples from other iterables (e.g., lists, strings):
```python
tuple_from_list = tuple([1, 2, 3])
print(tuple_from_list)  # Output: (1, 2, 3)

tuple_from_string = tuple("hello")
print(tuple_from_string)  # Output: ('h', 'e', 'l', 'l', 'o')
```

---

### **3. Accessing Tuple Elements**

#### **3.1 Indexing**
Tuples support zero-based indexing to access elements:
```python
my_tuple = (10, 20, 30, 40)
print(my_tuple[1])  # Output: 20
```

#### **3.2 Negative Indexing**
Access elements from the end using negative indices:
```python
print(my_tuple[-1])  # Output: 40
print(my_tuple[-2])  # Output: 30
```

#### **3.3 Slicing**
Retrieve a subset of elements using slicing:
```python
print(my_tuple[1:3])  # Output: (20, 30)
print(my_tuple[:2])   # Output: (10, 20)
print(my_tuple[::2])  # Output: (10, 30)  # Every second element
```

---

### **4. Tuple Operations**

#### **4.1 Concatenation**
Tuples can be concatenated using the `+` operator:
```python
tuple1 = (1, 2)
tuple2 = (3, 4)
result = tuple1 + tuple2
print(result)  # Output: (1, 2, 3, 4)
```

#### **4.2 Repetition**
Repeat elements using the `*` operator:
```python
my_tuple = (1, 2)
print(my_tuple * 3)  # Output: (1, 2, 1, 2, 1, 2)
```

#### **4.3 Membership Testing**
Check if an element exists in a tuple:
```python
my_tuple = (1, 2, 3)
print(2 in my_tuple)   # Output: True
print(4 not in my_tuple)  # Output: True
```

#### **4.4 Iteration**
Use a `for` loop to iterate through elements:
```python
my_tuple = (10, 20, 30)
for item in my_tuple:
    print(item)
```

---

### **5. Tuple Methods**

Tuples have limited methods because they are immutable:
- **`count(x)`**: Returns the number of times `x` appears in the tuple.
- **`index(x)`**: Returns the index of the first occurrence of `x`.

Example:
```python
my_tuple = (1, 2, 3, 2, 2)
print(my_tuple.count(2))  # Output: 3
print(my_tuple.index(3))  # Output: 2
```

---

### **6. Tuple Packing and Unpacking**

#### **6.1 Packing**
Packing refers to creating a tuple from multiple values:
```python
packed_tuple = 1, 2, "Python"
print(packed_tuple)  # Output: (1, 2, 'Python')
```

#### **6.2 Unpacking**
Unpacking refers to assigning tuple values to variables:
```python
a, b, c = packed_tuple
print(a, b, c)  # Output: 1 2 Python
```

#### **6.3 Using `*` for Arbitrary Unpacking**
```python
my_tuple = (1, 2, 3, 4, 5)
a, *b, c = my_tuple
print(a)  # Output: 1
print(b)  # Output: [2, 3, 4]
print(c)  # Output: 5
```

---

### **7. Immutability and Nested Tuples**

#### **7.1 Immutability**
Tuples are immutable; you cannot modify their elements:
```python
my_tuple = (1, 2, 3)
# my_tuple[0] = 10  # TypeError: 'tuple' object does not support item assignment
```

#### **7.2 Nested Tuples**
Tuples can contain other tuples:
```python
nested_tuple = ((1, 2), (3, 4))
print(nested_tuple[1][0])  # Output: 3
```

---

### **8. Applications of Tuples**

#### **8.1 Fixed Data**
Tuples are ideal for fixed collections of data, such as:
- Coordinates: `(x, y, z)`
- RGB color values: `(255, 0, 0)`

#### **8.2 Dictionary Keys**
Tuples are hashable, making them suitable as dictionary keys:
```python
my_dict = {(1, 2): "Point A", (3, 4): "Point B"}
print(my_dict[(1, 2)])  # Output: Point A
```

#### **8.3 Function Return Values**
Functions often return tuples to provide multiple results:
```python
def divide_and_remainder(a, b):
    return a // b, a % b

result = divide_and_remainder(10, 3)
print(result)  # Output: (3, 1)
```

---

### **9. Comparing Tuples**

Tuples are compared element by element:
```python
tuple1 = (1, 2, 3)
tuple2 = (1, 2, 4)
print(tuple1 < tuple2)  # Output: True
```

---

### **10. Advantages of Tuples**
- **Immutability**: Ensures data integrity.
- **Performance**: Faster than lists due to immutability.
- **Hashability**: Can be used as dictionary keys.

---

### **11. Limitations of Tuples**
- **Immutable**: Cannot modify elements.
- **Limited Methods**: Lacks extensive methods like lists.

---

### **12. Tuple vs List**

| Feature       | Tuple                  | List                     |
|---------------|------------------------|--------------------------|
| **Mutable**   | No                     | Yes                      |
| **Methods**   | Limited (`count`, `index`) | Extensive (`append`, `pop`, etc.) |
| **Performance** | Faster due to immutability | Slower                  |
| **Usage**     | Fixed data             | Dynamic data             |

---

### **13. Summary**
Tuples are immutable, ordered collections that are suitable for fixed data structures. While they lack the flexibility of lists, their immutability and performance make them ideal for specific use cases such as dictionary keys, function returns, and data that should not change.

### Creating a tuple

In [3]:
# empty tuple
t1 = ()
print(type(t1))
print(t1)

# creating a single item tuple
t2 = (2)
print(t2)
print(type(t2))
t2 = (2,)
print(t2) 
print(type(t2))

# homo
t3 = (1,2,3,4,5)
print(t3)

# hetro
t4 = (1,2,2.5,'hello',True,[1,2,3])
print(t4)
t4[-1][1] = 100 # tuple ke ander joo list hai isme changes kar skte hai
t4[-1].append(100)
print(t4)

# tuple inside tuple 2d tuple
t5 = (1,2,3,(4,5))
print(t5)

# using type conversion
t6= tuple('hello')
print(t6)

<class 'tuple'>
()
2
<class 'int'>
(2,)
<class 'tuple'>
(1, 2, 3, 4, 5)
(1, 2, 2.5, 'hello', True, [1, 2, 3])
(1, 2, 2.5, 'hello', True, [1, 100, 3, 100])
(1, 2, 3, (4, 5))
('h', 'e', 'l', 'l', 'o')

### Accessing Items in tuple
- Indexing
- Slicing

In [10]:
print(t3)
print(t3[0])
print(t3[-1])
print(t3[0:3])
print(t3[-4:-1])
print(t3[-4:-1:2])
print(t3[::-1])

(1, 2, 3, 4, 5)
1
5
(1, 2, 3)
(2, 3, 4)
(2, 4)
(5, 4, 3, 2, 1)

In [16]:
# 2D tuple
print(t5)
print(t5[-1])
print(t5[-1][1])

(1, 2, 3, (4, 5))
(4, 5)
5

### Editing Items

In [ ]:
# once a tuple is created, you cannot change its values.
# If you want to change a value, you need to create a new tuple with the desired changes.

t3 = (1,2,3,4,5)
print(t3)
t3[0] = 100
t3 = (100,2,3,4,5) # immutable

(1, 2, 3, 4, 5)

TypeError: 'tuple' object does not support item assignment

### Adding items

In [20]:
t3 = (1,2,3,4,5)
# not possible

### Deleting items

In [ ]:
print(t3)
del t3 # pura tuple delete ho jata hai par tuples ke parts delete nhi hote
print(t3)

(1, 2, 3, 4, 5)

NameError: name 't3' is not defined

In [25]:
t3 = (1,2,3,4,5) # immutable
del t3[0]

TypeError: 'tuple' object doesn't support item deletion

### Operations in tuples

In [31]:
# + and * 
t1 = (1,2,3,4,5) # immutable
t2 = (6,7,8,9,10)

print(t1+t2)
print(t1*3)

# membership
print(1 in t1)
print(6 in t1)

# loops

for i in t1:
    print(i)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
(1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5)
True
False
1
2
3
4
5

### Tuple functions

In [32]:
# len/sum/min/max/sorted
t = (1,2,3,4)
print(len(t))

print(sum(t))

print(min(t))

print(max(t))

print(sorted(t))
print(sorted(t,reverse=True))

4
10
1
4
[1, 2, 3, 4]
[4, 3, 2, 1]

In [33]:
# count
t = (1,2,3,4,5,55,5,5)
print(t.count(5))

3

In [34]:
# index
t = (1,2,3,4,5,55,5)
print(t.index(5))

4

### Difference between Lists and Tuples

- Syntax
- Mutability
- Speed
- Memory
- Built in functionality (List me more functionality)
- Error prone
- Usability

In [8]:
# Speed test b/w list and tuple

import time

L = list(range(100000))
T = tuple(range(100000))

start = time.time()
for i in L:
  i*5
print('List time',time.time()-start)

start = time.time()
for i in T:
  i*5
print('Tuple time',time.time()-start)

List time 0.03201484680175781
Tuple time 0.02802872657775879

In [9]:
# Space comparison b/w list and tuples

import sys

L = list(range(10000))
T = tuple(range(10000))

print('List size',sys.getsizeof(L))
print('Tuple size',sys.getsizeof(T))

List size 80056
Tuple size 80040

In [ ]:
# List is more error prone
a = [1,2,3]
b = a

a.append(4)
print(a)
print(b)

In [10]:
# Tuples error less prone
a = (1,2,3)
b = a

a = a + (4,)
print(a)
print(b)

(1, 2, 3, 4)
(1, 2, 3)

#### Special Syntax

In [14]:
# tuple unpacking
a,b,c = (1,2,3)
print(a,b,c)

1 2 3

In [13]:
a,b,c = (1,2,3,4)
print(a,b,c)

ValueError: too many values to unpack (expected 3)

In [16]:
t = (1,2,3)
a,b,c = t
print(a,b,c)

1 2 3

In [18]:
t = (1,2,3,4)
a,*b,c = t
print(a,b,c)

1 [2, 3] 4

In [19]:
# Variable value swap
a = 5
b = 10
a,b = b,a
print(a,b)

10 5

In [21]:
a,b,*other = (1,2,3,4,5,6)
print(a,b)
print(other)

1 2
[3, 4, 5, 6]

In [22]:
# zipping tuple

t = ('a', 'b', 'c', 'd', 'e')
t2 = (1, 2, 3, 4, 5)
print(zip(t,t2))

<zip object at 0x0000000000A16D00>

In [23]:
# zipping tuple

t = ('a', 'b', 'c', 'd', 'e')
t2 = (1, 2, 3, 4, 5)
print(zip(t,t2))
print(tuple(zip(t,t2)))

<zip object at 0x0000000000A175C0>
(('a', 1), ('b', 2), ('c', 3), ('d', 4), ('e', 5))

# Sets

A set is an unordered collection of items. Every set element is unique (no duplicates) and must be immutable (cannot be changed).

However, a set itself is mutable. We can add or remove items from it.

Sets can also be used to perform mathematical set operations like union, intersection, symmetric difference, etc.

Characterstics:
- Unordered
- Mutable
- No Duplicates
- Can't contain mutable data types

### Comprehensive Notes on Sets in Python

In Python, a **set** is an unordered collection of unique and immutable elements. Sets are useful for performing mathematical set operations like union, intersection, difference, and symmetric difference.

---

## **Key Characteristics of Sets**
1. **Unordered**: The elements in a set are not stored in a particular order.
2. **Unique Elements**: A set cannot contain duplicate elements.
3. **Mutable**: You can add or remove elements from a set, but the elements themselves must be immutable.
4. **Iterable**: Sets can be iterated using loops.

---

## **Creating a Set**

### **1. Using Curly Braces**
```python
my_set = {1, 2, 3, 4}
print(my_set)  # Output: {1, 2, 3, 4}
```

### **2. Using the `set()` Constructor**
```python
my_set = set([1, 2, 3, 4])
print(my_set)  # Output: {1, 2, 3, 4}
```

### **3. Creating an Empty Set**
```python
empty_set = set()
print(empty_set)  # Output: set()
```

> **Note**: `{}` creates an empty dictionary, not a set.

---

## **Accessing Set Elements**
Since sets are unordered, elements cannot be accessed using indexes or slices. However, you can check membership or iterate over the set.

### **Example: Iteration**
```python
my_set = {1, 2, 3, 4}
for element in my_set:
    print(element)
```

### **Example: Membership Check**
```python
my_set = {1, 2, 3}
print(2 in my_set)   # Output: True
print(5 not in my_set)  # Output: True
```

---

## **Set Operations**

### **1. Adding Elements**
#### `add()` Method:
Adds a single element to the set.
```python
my_set = {1, 2, 3}
my_set.add(4)
print(my_set)  # Output: {1, 2, 3, 4}
```

---

### **2. Updating a Set**
#### `update()` Method:
Adds multiple elements to the set.
```python
my_set = {1, 2, 3}
my_set.update([4, 5, 6])
print(my_set)  # Output: {1, 2, 3, 4, 5, 6}
```

---

### **3. Removing Elements**
#### `remove()` Method:
Removes a specific element. Raises an error if the element is not present.
```python
my_set = {1, 2, 3}
my_set.remove(2)
print(my_set)  # Output: {1, 3}
```

#### `discard()` Method:
Removes a specific element but does not raise an error if the element is not present.
```python
my_set = {1, 2, 3}
my_set.discard(2)
my_set.discard(5)  # No error
print(my_set)  # Output: {1, 3}
```

#### `pop()` Method:
Removes and returns an arbitrary element. Raises an error if the set is empty.
```python
my_set = {1, 2, 3}
removed_element = my_set.pop()
print(removed_element)  # Output: (random element)
print(my_set)  # Remaining elements
```

#### `clear()` Method:
Removes all elements from the set.
```python
my_set = {1, 2, 3}
my_set.clear()
print(my_set)  # Output: set()
```

---

### **4. Set Union**
Combines all elements from two sets without duplicates.

#### Using `|` Operator:
```python
set1 = {1, 2, 3}
set2 = {3, 4, 5}
print(set1 | set2)  # Output: {1, 2, 3, 4, 5}
```

#### Using `union()` Method:
```python
set1 = {1, 2, 3}
set2 = {3, 4, 5}
print(set1.union(set2))  # Output: {1, 2, 3, 4, 5}
```

---

### **5. Set Intersection**
Returns common elements between two sets.

#### Using `&` Operator:
```python
set1 = {1, 2, 3}
set2 = {3, 4, 5}
print(set1 & set2)  # Output: {3}
```

#### Using `intersection()` Method:
```python
print(set1.intersection(set2))  # Output: {3}
```

---

### **6. Set Difference**
Returns elements that are in the first set but not in the second.

#### Using `-` Operator:
```python
set1 = {1, 2, 3}
set2 = {3, 4, 5}
print(set1 - set2)  # Output: {1, 2}
```

#### Using `difference()` Method:
```python
print(set1.difference(set2))  # Output: {1, 2}
```

---

### **7. Set Symmetric Difference**
Returns elements that are in either set but not in both.

#### Using `^` Operator:
```python
set1 = {1, 2, 3}
set2 = {3, 4, 5}
print(set1 ^ set2)  # Output: {1, 2, 4, 5}
```

#### Using `symmetric_difference()` Method:
```python
print(set1.symmetric_difference(set2))  # Output: {1, 2, 4, 5}
```

---

### **8. Subset and Superset**
#### `issubset()` Method:
Checks if one set is a subset of another.
```python
set1 = {1, 2}
set2 = {1, 2, 3}
print(set1.issubset(set2))  # Output: True
```

#### `issuperset()` Method:
Checks if one set is a superset of another.
```python
print(set2.issuperset(set1))  # Output: True
```

---

### **9. Disjoint Sets**
#### `isdisjoint()` Method:
Checks if two sets have no elements in common.
```python
set1 = {1, 2}
set2 = {3, 4}
print(set1.isdisjoint(set2))  # Output: True
```

---

## **Frozen Sets**

A **frozenset** is an immutable version of a set. It cannot be modified after creation, but it supports all set operations except modification.

### **Creating a Frozenset**
```python
my_frozenset = frozenset([1, 2, 3])
print(my_frozenset)  # Output: frozenset({1, 2, 3})
```

---

## **Applications of Sets**

1. **Removing Duplicates**:
   ```python
   numbers = [1, 2, 2, 3, 4, 4, 5]
   unique_numbers = set(numbers)
   print(unique_numbers)  # Output: {1, 2, 3, 4, 5}
   ```

2. **Membership Testing**:
   ```python
   vowels = {'a', 'e', 'i', 'o', 'u'}
   print('a' in vowels)  # Output: True
   ```

3. **Mathematical Operations**:
   Sets are ideal for operations like union, intersection, and difference.

4. **Data Filtering**:
   Efficiently filter out unwanted values or find unique items.

---

## **Limitations of Sets**
1. Sets are unordered, so you cannot access elements by index.
2. Sets do not allow mutable elements, such as lists or dictionaries.

---

### Summary
- **Sets** are collections of unique and immutable elements.
- They support a wide range of operations, including union, intersection, and difference.
- They are mutable and can be modified using methods like `add()` and `remove()`.
- **Frozensets** are immutable versions of sets.
- Sets are highly efficient for membership testing and eliminating duplicates.

### Creating sets

In [33]:
# empty => same syntax use hota hai dict aur set me, default dict ko kara gya hai
s = {}
print(s)
print(type(s))
s = set()
print(s)
print(type(s))

# 1D and 2D
s1 = {1,2,3}
print(s1) 

# 2D list are not possible

#s2 = {1,2,3,4,{5,6}}
#print(s2)

# home and hetro
s3 = {1,'hello',4.5,True} # dekho true print nhi huva
print(s3)

s3 = {1,'hello',4.5,True,(1,2,3)} # isme 2d allow hai kyuki set me immutable type se 2d set bna skte par mutable data type se nhi bna skte hai
print(s3)

# using type conversion
s4 = set([1,2,3,4])
print(s4)

# duplicates not allowed
s5 = {1,2,3,4,5,6,1,2,3,4}
print(s5)

# set cannot have mutable item
s6 = {1,2,[3,4]}
print(s6)

{}
<class 'dict'>
set()
<class 'set'>
{1, 2, 3}
{1, 'hello', 4.5}
{1, (1, 2, 3), 'hello', 4.5}
{1, 2, 3, 4}
{1, 2, 3, 4, 5, 6}

TypeError: unhashable type: 'list'

In [34]:
s1 = {1,2,3}
s2 = {3,2,1}

print(s1 == s2)

True

### Accesing item

In [35]:
# indexing and slicing se access nhi kar skte items ko kyuki unordered hai set
s = {1,2,3,4,5}
print(s[1])

TypeError: 'set' object is not subscriptable

In [37]:
s = {1,2,3,4,5}
print(s[-5:-1])

TypeError: 'set' object is not subscriptable

### Editing item

In [38]:
# indexing kaam nhi karta iss liye yee editing too kaam nhi karegi
s1 = {1,2,3,4,5}
s1[1] = 100

TypeError: 'set' object does not support item assignment

### Adding items

In [40]:
# add => ek item ko sif add karta hai set me 
s = {1,2,3,4,5}

s.add(6)
print(s)

{1, 2, 3, 4, 5, 6}

In [42]:
# update => multiple items ko add karta hai set me 
s = {1,2,3,4,5}
s.update([6,7,8,9])
print(s)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

### Deleting Items

In [ ]:
# del
s = {1,2,3,4,5}
print(s)
del s # del s[0] => not allowed because of indexing 
print(s)

{1, 2, 3, 4, 5}

NameError: name 's' is not defined

In [46]:
# discard => Removes a specific element but does not raise an error if the element is not present.
s = {1,2,3,4,5,5}
print(s)
s.discard(5)
print(s)

{1, 2, 3, 4, 5}
{1, 2, 3, 4}

In [47]:
# remove => Removes a specific element. Raises an error if the element is not present.

s = {1,2,3,4,5,5}
print(s)
s.remove(5)
print(s)

{1, 2, 3, 4, 5}
{1, 2, 3, 4}

In [48]:
# remove => Removes a specific element. Raises an error if the element is not present.

s = {1,2,3,4,5,5}
print(s)
s.remove(6)
print(s)

{1, 2, 3, 4, 5}

KeyError: 6

In [50]:
# pop => Removes and returns an arbitrary element. Raises an error if the set is empty.

s = {1,2,3,4,5,5}
print(s)
s.pop()
print(s)

{1, 2, 3, 4, 5}
{2, 3, 4, 5}

In [51]:
# clear => Removes all elements from the set.

s = {1,2,3,4,5,5}
print(s)
s.clear()
print(s)

{1, 2, 3, 4, 5}
set()

### Set Operations

In [1]:
s1 = {1,2,3,4,5}
s2 = {4,5,6,7,8}
# union(|)

print(s1 | s2)
print(s1.union(s2)) # same functionality but different syntax

# Intersection (&)
print(s1 & s2)
print(s1.intersection(s2)) 

# Difference (-) => Returns elements that are in the first set but not in the second.
print(s1 -s2)
print(s1.difference(s2))

# Symmetric Difference (^) =>Returns elements that are in either set but not in both.
print(s1 ^ s2)
print(s1.symmetric_difference(s2))

# Membership Test
print(1 in s1)
print(1 in s2)

# Loops
for i in s1:
    print(i)

{1, 2, 3, 4, 5, 6, 7, 8}
{1, 2, 3, 4, 5, 6, 7, 8}
{1, 2, 3, 4, 5}
{4, 5}
{4, 5}
{1, 2, 3}
{1, 2, 3}
{1, 2, 3, 6, 7, 8}
{1, 2, 3, 6, 7, 8}
True
False
1
2
3
4
5

### Set functions

In [69]:
# len/sum/min/max/sorted

s = {3,1,2,4,5,6,7}
print(len(s))
print(sum(s))
print(min(s))
print(max(s))
print(sorted(s)) # list return karta hai
print(sorted(s,reverse=True))

7
28
1
7
[1, 2, 3, 4, 5, 6, 7]
[7, 6, 5, 4, 3, 2, 1]

In [72]:
# union/update

s1 = {1,2,3,4,5}
s2 = {4,5,6,7,8}

print(s1.union(s2))

s1.update(s2)
print(s1)
print(s2)

{1, 2, 3, 4, 5, 6, 7, 8}
{1, 2, 3, 4, 5, 6, 7, 8}
{4, 5, 6, 7, 8}

In [74]:
# intersection/intersection_update

s1 = {1,2,3,4,5}
s2 = {4,5,6,7,8}

print(s1.intersection(s2))

s1.intersection_update(s2)
print(s1)
print(s2)

{4, 5}
{4, 5}
{4, 5, 6, 7, 8}

In [75]:
# difference/difference_update

s1 = {1,2,3,4,5}
s2 = {4,5,6,7,8}

print(s1.difference(s2))

s1.difference_update(s2)
print(s1)
print(s2)

{1, 2, 3}
{1, 2, 3}
{4, 5, 6, 7, 8}

In [76]:
# symmetric_difference/symmetric_difference_update
s1 = {1,2,3,4,5}
s2 = {4,5,6,7,8}

s1.symmetric_difference(s2)

s1.symmetric_difference_update(s2)
print(s1)
print(s2)

{1, 2, 3, 6, 7, 8}
{4, 5, 6, 7, 8}

In [82]:
# isdisjoint/issubset/issuperset

s1 = {1,2,3,4,5}
s2 = {4,5,6,7,8}
print(s1.isdisjoint(s2))

s1 = {3,4,5}
s2 = {1,2,3,4,5}
print(s1.issubset(s2))

s1 = {3,4,5}
s2 = {1,2,3,4,5}
print(s2.issuperset(s1))

False
True
True

In [85]:
# copy
s1 = {1,2,3}
s2 = s1
s2.pop()
print(s1)
print(s2)

{2, 3}
{2, 3}

In [87]:
# copy
s1 = {1,2,3}
s2 = s1.copy()
s2.pop()
print(s1)
print(s2)

{1, 2, 3}
{2, 3}

### Frozenset
Frozen set is just an immutable version of a Python set object

In [90]:
# frozenset
fs = frozenset([1,2,3,4,5])
print(fs)

frozenset({1, 2, 3, 4, 5})

In [ ]:
# what works and what does not
# works -> all read functions
# does't work -> write operations

In [91]:
# Union intersection etc etc... works on frozen sets also
fs1 = frozenset([1,2,3,4])
fs2 = frozenset([4,5,6,7])
print(fs1 | fs2)

frozenset({1, 2, 3, 4, 5, 6, 7})

In [92]:
# When to use => read only operations
# 2D sets => yes possible
fs = frozenset([1,2,frozenset([3,4])])
fs

frozenset({1, 2, frozenset({3, 4})})

### Set Comprehension

In [95]:
# examples

s = {i for i in range(11) if i%2 == 0 }
print(s)

{0, 2, 4, 6, 8, 10}

# Dictionary

Dictionary in Python is a collection of keys values, used to store data values like a map, which, unlike other data types which hold only a single value as an element.

In some languages it is known as map or assosiative arrays.

dict = { 'name' : 'nitish' , 'age' : 33 , 'gender' : 'male' }

Characterstics:

- Mutable
- Indexing has no meaning
- keys can't be duplicated
- keys can't be mutable items

### Comprehensive Notes on Dictionaries in Python

In Python, a **dictionary** is a built-in data type that stores data in the form of key-value pairs. It is one of the most flexible and widely used data structures in Python.

---

## **Key Features of a Dictionary**
1. **Unordered**: Dictionaries do not maintain the order of items (in Python 3.7 and later, insertion order is preserved but not guaranteed for earlier versions).
2. **Key-Value Pairs**: Data is stored in pairs, where each key is unique, and it maps to a value.
3. **Mutable**: You can add, remove, or update key-value pairs.
4. **Keys are Immutable**: Keys must be of a hashable type, such as strings, numbers, or tuples. Mutable types like lists or other dictionaries cannot be used as keys.
5. **Values Can Be Any Type**: Values can be of any data type, including lists, other dictionaries, or even functions.

---

## **Creating a Dictionary**

### **1. Using Curly Braces**
```python
my_dict = {"name": "Alice", "age": 25, "city": "New York"}
print(my_dict)  # Output: {'name': 'Alice', 'age': 25, 'city': 'New York'}
```

### **2. Using the `dict()` Constructor**
```python
my_dict = dict(name="Alice", age=25, city="New York")
print(my_dict)  # Output: {'name': 'Alice', 'age': 25, 'city': 'New York'}
```

### **3. Creating an Empty Dictionary**
```python
empty_dict = {}
print(empty_dict)  # Output: {}
```

---

## **Accessing Values in a Dictionary**

### **1. Using Keys**
```python
my_dict = {"name": "Alice", "age": 25}
print(my_dict["name"])  # Output: Alice
```

### **2. Using `get()` Method**
The `get()` method is safer because it does not raise an error if the key does not exist.
```python
print(my_dict.get("name"))  # Output: Alice
print(my_dict.get("address", "Not Found"))  # Output: Not Found
```

---

## **Adding and Updating Elements**

### **1. Adding a New Key-Value Pair**
```python
my_dict = {"name": "Alice"}
my_dict["age"] = 25
print(my_dict)  # Output: {'name': 'Alice', 'age': 25}
```

### **2. Updating an Existing Key**
```python
my_dict["name"] = "Bob"
print(my_dict)  # Output: {'name': 'Bob', 'age': 25}
```

---

## **Removing Elements**

### **1. Using `pop()`**
Removes a key-value pair by key and returns the value.
```python
my_dict = {"name": "Alice", "age": 25}
removed_value = my_dict.pop("age")
print(removed_value)  # Output: 25
print(my_dict)  # Output: {'name': 'Alice'}
```

### **2. Using `popitem()`**
Removes the last inserted key-value pair (insertion order matters from Python 3.7+).
```python
my_dict = {"name": "Alice", "age": 25}
removed_item = my_dict.popitem()
print(removed_item)  # Output: ('age', 25)
print(my_dict)  # Output: {'name': 'Alice'}
```

### **3. Using `del`**
Deletes a key-value pair or the entire dictionary.
```python
my_dict = {"name": "Alice", "age": 25}
del my_dict["age"]
print(my_dict)  # Output: {'name': 'Alice'}

# Delete entire dictionary
del my_dict
```

### **4. Using `clear()`**
Removes all key-value pairs.
```python
my_dict = {"name": "Alice", "age": 25}
my_dict.clear()
print(my_dict)  # Output: {}
```

---

## **Dictionary Methods**

### **1. `keys()`**
Returns a view object of all the keys.
```python
my_dict = {"name": "Alice", "age": 25}
print(my_dict.keys())  # Output: dict_keys(['name', 'age'])
```

### **2. `values()`**
Returns a view object of all the values.
```python
print(my_dict.values())  # Output: dict_values(['Alice', 25])
```

### **3. `items()`**
Returns a view object of key-value pairs as tuples.
```python
print(my_dict.items())  # Output: dict_items([('name', 'Alice'), ('age', 25)])
```

### **4. `update()`**
Updates the dictionary with key-value pairs from another dictionary or iterable.
```python
my_dict = {"name": "Alice"}
my_dict.update({"age": 25, "city": "New York"})
print(my_dict)  # Output: {'name': 'Alice', 'age': 25, 'city': 'New York'}
```

---

## **Looping Through a Dictionary**

### **1. Looping Through Keys**
```python
for key in my_dict:
    print(key)
```

### **2. Looping Through Values**
```python
for value in my_dict.values():
    print(value)
```

### **3. Looping Through Key-Value Pairs**
```python
for key, value in my_dict.items():
    print(f"{key}: {value}")
```

---

## **Dictionary Comprehension**

### **Creating a Dictionary Using Comprehension**
```python
squared_numbers = {x: x**2 for x in range(1, 6)}
print(squared_numbers)  # Output: {1: 1, 2: 4, 3: 9, 4: 16, 5: 25}
```

---

## **Nested Dictionaries**

### **Creating Nested Dictionaries**
```python
nested_dict = {
    "person1": {"name": "Alice", "age": 25},
    "person2": {"name": "Bob", "age": 30},
}
print(nested_dict["person1"]["name"])  # Output: Alice
```

---

## **Default Dictionaries**

### **Using `collections.defaultdict`**
A `defaultdict` automatically assigns a default value to keys that are not present.
```python
from collections import defaultdict

dd = defaultdict(int)
dd["a"] += 1
print(dd["a"])  # Output: 1
print(dd["b"])  # Output: 0 (default value for int)
```

---

## **Counter in Dictionaries**

### **Using `collections.Counter`**
A `Counter` is a dictionary subclass for counting hashable objects.
```python
from collections import Counter

counts = Counter("abracadabra")
print(counts)  # Output: Counter({'a': 5, 'b': 2, 'r': 2, 'c': 1, 'd': 1})
```

---

## **Common Use Cases**

1. **Word Frequency Count**:
   ```python
   text = "apple banana apple orange banana apple"
   words = text.split()
   word_count = {word: words.count(word) for word in set(words)}
   print(word_count)  # Output: {'apple': 3, 'banana': 2, 'orange': 1}
   ```

2. **Inverting a Dictionary**:
   ```python
   my_dict = {"a": 1, "b": 2, "c": 3}
   inverted_dict = {value: key for key, value in my_dict.items()}
   print(inverted_dict)  # Output: {1: 'a', 2: 'b', 3: 'c'}
   ```

3. **Using Dictionaries for Switch/Case**:
   ```python
   def add(x, y):
       return x + y

   def subtract(x, y):
       return x - y

   operations = {"add": add, "subtract": subtract}
   print(operations["add"](5, 3))  # Output: 8
   ```

---

## **Limitations of Dictionaries**

1. **Unordered Before Python 3.7**: In older versions, dictionaries do not maintain the order of items.
2. **Key Restrictions**: Keys must be immutable and hashable types.
3. **Memory Usage**: Dictionaries consume more memory compared to lists or tuples.

---

## **Conclusion**
Dictionaries are one of the most versatile data structures in Python, suitable for a variety of use cases like fast lookups, mappings, and handling structured data. By mastering dictionaries, you can handle complex data manipulation tasks efficiently.

### Creating a dictionary

In [109]:
# empty dictionary
d = {}
print(d)
print(type(d))

# 1D dictionary => home dict bcz keys are of single data type strings
d1 = {'name': 'Zain', 'gender': 'male'}
print(d1)

# hetro dict
d2 = { (1,2,3):1, 'hello' : 'world'}
print(d2)

# 2d Dictionary => json
student = {
    'name' : 'Ali',
    'collage' : 'UOA',
    'sem' : 4,
    'subjects' : {
        'dsa' : 50,
        'maths' : 67,
        'english': 34
    }
}
print(student)

# using sequence and dict function
d4 = dict( [[1,2],(2,2),(3,3)] )
print(d4)

d5 = dict( [[1,2],(2,2),(3,3), ('name', 'zain'), ('age', 28) ])
print(d5)

# duplicate keys
d6 = {'name': 'Ali', 'name': 'Zain', 'age': 56}
print(d6)

# mutable items as keys are not allowed
# d7 = {'name': 'Ali', 'name': 'Zain', [1,2,3]: 56} # output => error: unhashable type: 'list'
d7 = {'name': 'Ali', 'name': 'Zain', (1,2,3): 56}
print(d7)

{}
<class 'dict'>
{'name': 'Zain', 'gender': 'male'}
{(1, 2, 3): 1, 'hello': 'world'}
{'name': 'Ali', 'collage': 'UOA', 'sem': 4, 'subjects': {'dsa': 50, 'maths': 67, 'english': 34}}
{1: 2, 2: 2, 3: 3}
{1: 2, 2: 2, 3: 3, 'name': 'zain', 'age': 28}
{'name': 'Zain', 'age': 56}
{'name': 'Zain', (1, 2, 3): 56}

### Accessing items

In [111]:
# indexing not allowed
my_dict = {'name': 'Jack', 'age': 26}
print(my_dict[0])

KeyError: 0

In [114]:
my_dict = {'name': 'Jack', 'age': 26}

# []
print(my_dict['name'])
print(my_dict['age'])

# get
print(my_dict.get('name'))
print(my_dict.get('age'))

Jack
26
Jack
26

### Adding key-value pair

In [115]:
my_dict = {'name': 'Jack', 'age': 26}
my_dict['gender'] = 'Male'
print(my_dict)
my_dict['weight'] = 85
print(my_dict)

{'name': 'Jack', 'age': 26, 'gender': 'Male'}
{'name': 'Jack', 'age': 26, 'gender': 'Male', 'weight': 85}

### Remove key-paired pair

In [123]:
d = {'name': 'nitish', 'age': 32, 3: 3, 'gender': 'male', 'weight': 72}

# pop = >Removes a key-value pair by key and returns the value.

removed_value = d.pop(3)
print(d)
print(removed_value)

# popitem => Removes the last inserted key-value pair
d.popitem()
print(d)

# del
del d['name']
print(d)

# clear
d.clear()
print(d)

{'name': 'nitish', 'age': 32, 'gender': 'male', 'weight': 72}
3
{'name': 'nitish', 'age': 32, 'gender': 'male'}
{'age': 32, 'gender': 'male'}
{}

In [129]:
# 2D dictionary access

student = {
    'name' : 'Ali',
    'collage' : 'UOA',
    'sem' : 4,
    'subjects' : {
        'dsa' : 50,
        'maths' : 67,
        'english': 34
    }
}

# Access items
print(student['subjects']['maths'])

# Adding items
student['subjects']['hindi'] = 85
print(student)

# del items

del student['subjects']['maths']
print(student['subjects'])

67
{'name': 'Ali', 'collage': 'UOA', 'sem': 4, 'subjects': {'dsa': 50, 'maths': 67, 'english': 34, 'hindi': 85}}
{'dsa': 50, 'english': 34, 'hindi': 85}

### Editing key-value pair

In [131]:
student['sem'] = 5
print(student)

student['subjects']['dsa'] = 99
print(student)

{'name': 'Ali', 'collage': 'UOA', 'sem': 5, 'subjects': {'dsa': 50, 'english': 34, 'hindi': 85}}
{'name': 'Ali', 'collage': 'UOA', 'sem': 5, 'subjects': {'dsa': 99, 'english': 34, 'hindi': 85}}

### Dictionary Operations

- Membership
- Iteration

In [136]:
print(student)
print('zain' in student)
print('name' in student)

{'name': 'Ali', 'collage': 'UOA', 'sem': 5, 'subjects': {'dsa': 99, 'english': 34, 'hindi': 85}}
False
True

In [143]:

student = {
    'name' : 'Ali',
    'collage' : 'UOA',
    'sem' : 4
    }

for i in student:
    print(i)

for i in student:
    print(student[i])
    
for key,value in student.items():
    print(key,value)

name
collage
sem
Ali
UOA
4
name Ali
collage UOA
sem 4

### Dictionary Functions

In [148]:
# len/sorted/min/max
s = {
    'name' : 'Ali',
    'collage' : 'UOA',
    'sem' : 4
    }

print(len(s))
print(sorted(s,reverse=True))
print(min(s))
print(max(s))

3
['sem', 'name', 'collage']
collage
sem

In [150]:
# items/keys/values
s = {
    'name' : 'Ali',
    'collage' : 'UOA',
    'sem' : 4
    }

print(s.items())
print(s.keys())
print(s.values())

dict_items([('name', 'Ali'), ('collage', 'UOA'), ('sem', 4)])
dict_keys(['name', 'collage', 'sem'])
dict_values(['Ali', 'UOA', 4])

In [153]:
# update

d1 = {1:2, 3:4, 5:6}
d2 = {5:7, 6:8}

d1.update(d2)
print(d1)

{1: 2, 3: 4, 5: 7, 6: 8}

### Dictionary Comprehension
![image.png]()

In [157]:
# print 1st 10 numbers and their squares

d = { i:i**2 for i in range(1,10)}
print(d)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [161]:
# using existing dict 

# km me distance diya hai miles me karna hai
distances = {'delhi':1000,'mumbai':2000,'bangalore':3000}
km_to_miles = {key:value*0.609 for (key,value) in distances.items()}
print(km_to_miles)

{'delhi': 609.0, 'mumbai': 1218.0, 'bangalore': 1827.0}

In [168]:
# using zip
days = ["Sunday", "Monday","Tuesday","Wednesday","Thursday","Friday","Saturday"]
temp_C = [30.5,32.6,31.8,33.4,29.8,30.2,29.9]

d = { i:j for (i,j) in zip(days,temp_C)}
print(d)

{'Sunday': 30.5, 'Monday': 32.6, 'Tuesday': 31.8, 'Wednesday': 33.4, 'Thursday': 29.8, 'Friday': 30.2, 'Saturday': 29.9}

In [170]:
# using if condition
products = {'phone':10,'laptop':0,'charger':32,'tablet':0}

{key:value for (key,value) in  products.items() if value > 0}

{'phone': 10, 'charger': 32}

In [180]:
# Nested Comprehension

# print tables of number from 2 to 4
# eg:
'''{
    2:{1:2,2:4,3:6,4:8},
    3:{1:3,2:6,3:9,4:12},
    4:{1:4,2:8,3:12,4:16}
}'''

{ table:{num:table*num for num in range(1,11)} for table in range(2,5)}

{2: {1: 2, 2: 4, 3: 6, 4: 8, 5: 10, 6: 12, 7: 14, 8: 16, 9: 18, 10: 20},
 3: {1: 3, 2: 6, 3: 9, 4: 12, 5: 15, 6: 18, 7: 21, 8: 24, 9: 27, 10: 30},
 4: {1: 4, 2: 8, 3: 12, 4: 16, 5: 20, 6: 24, 7: 28, 8: 32, 9: 36, 10: 40}}