# Tuple

### `Q1:` Join Tuples if similar initial element
While working with Python tuples, we can have a problem in which we need to perform concatenation of records from the similarity of initial element. This problem can have applications in data domains such as Data Science.

For eg.
```
Input  : test_list = [(5, 6), (5, 7), (5, 8), (6, 10), (7, 13)]
Output : [(5, 6, 7, 8), (6, 10), (7, 13)]
```

In [63]:
# write your code here
test_list = [(5, 6), (7,8), (5, 7), (5, 8), (6, 10), (7, 13)]

unique = []

for i in test_list:
    unique.append(i[0])

unique = set(unique)
print(unique)

result = []
for i in unique:
    result.append([i])
    for j in test_list:
        if i == j[0]:
            result[-1].append(j[1])

result = list(map(tuple,result))
print(result)

{5, 6, 7}
[(5, 6, 7, 8), (6, 10), (7, 8, 13)]

### `Q2:` Multiply Adjacent elements (both side) and take sum of right and lest side multiplication result.


For eg.
```
The original tuple : (1, 5, 7, 8, 10)
Resultant tuple after multiplication :

(1*5, 1*5+5*7, 7*5 + 7*8, 8*7 + 8*10, 10*8) -> (5, 40, 91, 136, 80)

output-(5, 40, 91, 136, 80)
```

In [33]:
# write your code here
t = (1, 5, 7, 8, 10)
output = list(t)
print(t)
for i in range(0,len(t)):
    if i+1 < len(t) and i-1 > 0:
        output[i] = ( t[i-1]* t[i] ) + ( t[i]*t[i+1] )
    elif i-1 <= 0:
        output[i] = t[i+1]* t[i]
    else:
        output[i] = t[i-1]* t[i]
print(output)

(1, 5, 7, 8, 10)
[5, 35, 91, 136, 80]

### `Q3`: Check is tuples are same or not?
Two tuples would be same if both tuples have same element at same index
```
t1 = (1,2,3,0)
t2 = (0,1,2,3)

t1 and t2 are not same
```

In [5]:
# write your code here
t1 = (1,2,3,0)
t2 = (0,1,2,3)

if t1 == t2:
    print("t1 and t2 are same")
else:
    print("t1 and t2 are not same")

t1 and t2 are not same

### `Q4`: Count no of tuples, list and set from a list
```
list1 = [{'hi', 'bye'},{'Geeks', 'forGeeks'},('a', 'b'),['hi', 'bye'],['a', 'b']]

```
`Output:`

```
List-2
Set-2
Tuples-1
```

In [64]:
# write your code here

list1 = [{'hi', 'bye'},{'Geeks', 'forGeeks'},('a', 'b'),['hi', 'bye'],['a', 'b']]

num_list = num_set = num_tuple = 0
for i in list1:
    if type(i) == list:
        num_list += 1
    elif type(i) == set:
        num_set += 1
    else:
        num_tuple += 1
print(f"List-{num_list}\nSet-{num_set}\nTuple-{num_tuple}\n")

List-2
Set-2
Tuple-1

### `Q5`: Shortlist Students for a Job role
Ask user to input students record and store in tuples for each record. Then Ask user to input three things he wants in the candidate- Primary Skill, Higher Education, Year of Graduation.

Show every students record in form of tuples if matches all required criteria.

It is assumed that there will be only one primry skill.

If no such candidate found, print `No such candidate`

`Input:`
```
Enter No of records- 2
Enter Details of student-1
Enter Student name- Manohar
Enter Higher Education- B.Tech
Enter Primary Skill- Python
Enter Year of Graduation- 2022
Enter Details of student-2
Enter Student name- Ponian
Enter Higher Education- B.Sc.
Enter Primary Skill- C++
Enter Year of Graduation- 2020

Enter Job Role Requirement
Enter Skill- Python
Enter Higher Education- B.Tech
Enter Year of Graduation- 2022
```

`Output`
```
('Manohar', 'B.tech', 'Python', '2022')
```

In [88]:
# write your code here
students = []
number_of_student = int(input("Enter No if records- "))

for i in range((number_of_student)):
    print(f"Enter Details of student- {i+1}")
    name = input("Enter Students name- ")
    education = input("Enter your higher education- ")
    primary_skill = input("Enter Primary Skill- ")
    year_pass = input("Enter Year Pass- ")
    students.append((name,education,primary_skill,year_pass))

print("\nAll student records:")
print(students)

job_role_req = []
print(f"Enter Job Role Requirement")

skill_req = input("Enter Skill- ")
education_req = input("Enter Higher Education- ")
year_req = input("Enter Year of Graduation- ")
print(skill_req, education_req, year_req)

found = False

# Searching for matching students
for student in students:
    if student[1] == education_req and student[2] == skill_req and student[3] == year_req:
        print(f"Matching student: {student}")
        found = True
        break  # If you only want the first match, use break

# If no student matches the criteria
if not found:
    print("No such candidate.")

ValueError: invalid literal for int() with base 10: ''

# Set

### `Q1:` Write a program to find set of common elements in three lists using sets.
```
Input : ar1 = [1, 5, 10, 20, 40, 80]
        ar2 = [6, 7, 20, 80, 100]
        ar3 = [3, 4, 15, 20, 30, 70, 80, 120]

Output : [80, 20]
```

In [91]:
# write your code here

ar1 = [1, 5, 10, 20, 40, 80]
ar2 = [6, 7, 20, 80, 100]
ar3 = [3, 4, 15, 20, 30, 70, 80, 120]

output = []

for i in ar1:
    if i in ar2 and ar3:
        output.append(i)

for i in ar2:
    if i in ar1 and ar3:
        output.append(i)
        
for i in ar3:
    if i in ar1 and ar2:
        output.append(i)

output = set(output)
print(output)

{80, 20}

In [92]:

ar1 = [1, 5, 10, 20, 40, 80]
ar2 = [6, 7, 20, 80, 100]
ar3 = [3, 4, 15, 20, 30, 70, 80, 120]

output = set(ar1) & set(ar2) & set(ar3)

print(output)

{80, 20}

 ### `Q2:` Write a program to count unique number of vowels using sets in a given string. Lowercase and upercase vowels will be taken as different.

`Input:`
```
Str1 = "hands-on data science mentorship progrAm with live classes at affordable fee only on CampusX"
```
`Output:`
```
No of unique vowels-6
```

In [101]:
# write your code here
Str1 = "hands-on data science mentorship progrAm with live classes at affordable fee only on CampusX"

elem = set(''.join(Str1.split()))
print(elem)

vowels = set('aeiouAEIOU')
print(vowels)

num_of_vowels = 0
for i in elem:
    if i in vowels:
        num_of_vowels += 1
print(f"No of unique tuples-{num_of_vowels}")

{'-', 's', 'c', 'o', 'C', 'X', 'v', 'i', 'u', 'm', 'f', 'A', 'g', 'p', 'h', 'b', 'e', 'a', 'y', 't', 'd', 'w', 'l', 'n', 'r'}
{'O', 'A', 'o', 'e', 'E', 'I', 'a', 'i', 'U', 'u'}
No of unique tuples-6

### `Q3:` Write a program to Check if a given string is binary string of or not.

A string is said to be binary if it's consists of only two unique characters.

Take string input from user.

```
Input: str = "01010101010"
Output: Yes

Input: str = "1222211"
Output: Yes

Input: str = "Campusx"
Output: No
```

In [104]:
# write your code here

str = "01001010110111102"
no_of_char = set(str)

if len(no_of_char) == 2:
    print("Yes")
else:
    print("N0")

N0

### `Q4`: find union of n arrays.

**Example 1:**

Input:
```bash
[[1, 2, 2, 4, 3, 6],
 [5, 1, 3, 4],
 [9, 5, 7, 1],
 [2, 4, 1, 3]]
```

Output:

```bash
[1, 2, 3, 4, 5, 6, 7, 9]
```

In [111]:
# write your code here
arrays = [
            [1, 2, 2, 4, 3, 6],
            [5, 1, 3, 4],
            [9, 5, 7, 1],
            [2, 4, 1, 3]
        ]

output = set()

for subarray in arrays:
    output = output | set(subarray)
print(output)

{1, 2, 3, 4, 5, 6, 7, 9}

### `Q5`: Intersection of two lists. Intersection of two list means we need to take all those elements which are common to both of the initial lists and store them into another list. Only use using **list-comprehension**.

**Example 1:**

Input:
```bash
lst1 = {15, 9, 10, 56, 23, 78, 5, 4, 9}
lst2 = {9, 4, 5, 36, 47, 26, 10, 45, 87}
```

Output:
```bash
[9, 10, 4, 5]
```

**Example 2:**

Input:
```bash
lst1 = {4, 9, 1, 17, 11, 26, 28, 54, 69}
lst2 = {9, 9, 74, 21, 45, 11, 63, 28, 26}
```

Output:
```bash
[9, 11, 26, 28]
```

In [114]:
# write your code here
lst1 = {15, 9, 10, 56, 23, 78, 5, 4, 9}
lst2 = {9, 4, 5, 36, 47, 26, 10, 45, 87}

intersection = {x for x in lst1 if x in lst2}
print(intersection)

{9, 10, 4, 5}

# Dictionary

### `Q1`: Key with maximum unique values

Given a dictionary with values list, extract key whose value has most unique values.

**Example 1:**

Input:

```bash
test_dict = {"CampusX" : [5, 7, 9, 4, 0], "is" : [6, 7, 4, 3, 3], "Best" : [9, 9, 6, 5, 5]}
```

Output:
```bash
CampusX
```

**Example 2:**

Input:
```bash
test_dict = {"CampusX" : [5, 7, 7, 7, 7], "is" : [6, 7, 7, 7], "Best" : [9, 9, 6, 5, 5]}
```

Output:
```bash
Best
```

In [119]:
# write your code here

test_dict = {"CampusX" : [5, 7, 9, 4, 0], "is" : [6, 7, 4, 3, 3], "Best" : [9, 9, 6, 5, 5]}

output = ""
max_num = -1

for key,value in test_dict.items():
    print(set(value))
    if len(set(value)) > max_num:
        max_num = len(set(value))
        output = key
print(output)

{0, 4, 5, 7, 9}
{3, 4, 6, 7}
{9, 5, 6}
CampusX

### `Q2`: Replace words from Dictionary. Given String, replace it’s words from lookup dictionary.

**Example 1:**

Input:

```bash
test_str = 'CampusX best for DS students.'
repl_dict = {"best" : "is the best channel", "DS" : "Data-Science"}
```

Output:

```bash
CampusX is the best channel for Data-Science students.
```

**Example 2:**

Input:
```bash
test_str = 'CampusX best for DS students.'
repl_dict = {"good" : "is the best channel", "ds" : "Data-Science"}
```

Output:
```bash
CampusX best for DS students.
```

In [125]:
# write your code here
test_str = 'CampusX best for DS students.'
repl_dict = {"best" : "is the best channel", "DS" : "Data-Science"}

test_str = test_str.split()
output = ""
for i in test_str:
    if i in repl_dict:
        output += repl_dict[i] + " "
    else:
        output += i + " "

print(output)

CampusX is the best channel for Data-Science students.

### `Q3`: Convert List to List of dictionaries. Given list values and keys list, convert these values to key value pairs in form of list of dictionaries.

**Example 1:**

Input:
```bash
test_list = ["DataScience", 3, "is", 8]
key_list = ["name", "id"]
```

Output:

```bash
[{'name': 'DataScience', 'id': 3}, {'name': 'is', 'id': 8}]
```

**Example 2:**

Input:
```bash
test_list = ["CampusX", 10]
key_list = ["name", "id"]
```

Output:

```bash
[{'name': 'CampusX', 'id': 10}]
```

In [140]:
# write your code here
test_list = ["DataScience", 3, "is", 8]
key_list = ["name", "id"]

output = []
for i in range(0,len(test_list),len(key_list)):
    output.append(dict(zip(key_list,test_list[i: i+len(key_list)])))
print(output)

[{'name': 'DataScience', 'id': 3}, {'name': 'is', 'id': 8}]

### `Q4`: Convert a list of Tuples into Dictionary.

**Example 1:**

Input:
```bash
[("akash", 10), ("gaurav", 12), ("anand", 14), ("suraj", 20), ("akhil", 25), ("ashish", 30)]
```

Output:
```bash
{'akash': [10], 'gaurav': [12], 'anand': [14], 'suraj': [20], 'akhil': [25], 'ashish': [30]}
```

**Example 2:**

Input:
```bash
[('A', 1), ('B', 2), ('C', 3)]
```

Output:
```bash
{'A': [1], 'B': [2], 'C': [3]}
```

In [179]:
# write your code here
lst = [("akash", 10), ("gaurav", 12), ("anand", 14), ("suraj", 20), ("akhil", 25), ("ashish", 30,20)]

output_dict =  { i:j for i,*j in lst}
print(output_dict)

{'akash': [10], 'gaurav': [12], 'anand': [14], 'suraj': [20], 'akhil': [25], 'ashish': [30, 20]}

### `Q5`: Sort Dictionary key and values List.

**Example 1:**

Input:

```bash
{'c': [3], 'b': [12, 10], 'a': [19, 4]}
```

Output:

```bash
{'a': [4, 19], 'b': [10, 12], 'c': [3]}
```

**Example 2:**

Input:

```bash
{'c': [10, 34, 3]}
```

Output:

```bash
{'c': [3, 10, 34]}
```

In [169]:
# write your code here
d = {'c': [3], 'b': [12, 10], 'a': [19, 4]}
sorted_dict_key = sorted(d)

output_dict = {}
for key in sorted_dict_key:
    output_dict[key] = sorted(d[key])
print(output_dict)

{'a': [4, 19], 'b': [10, 12], 'c': [3]}