<center><h1>Important Series Methods</h1></center>

In [1]:
import numpy as np
import pandas as pd

In [3]:
subs = pd.read_csv("subs.csv").squeeze()
subs

0       48
1       57
2       40
3       43
4       44
      ...
360    231
361    226
362    155
363    144
364    172
Name: Subscribers gained, Length: 365, dtype: int64

In [4]:
vk = pd.read_csv("kohli_ipl.csv", index_col="match_no").squeeze()

vk

match_no
1       1
2      23
3      13
4      12
5       1
       ..
211     0
212    20
213    73
214    25
215     7
Name: runs, Length: 215, dtype: int64

In [5]:
movies = pd.read_csv("bollywood.csv", index_col="movie").squeeze()

movies

movie
Uri: The Surgical Strike                   Vicky Kaushal
Battalion 609                                Vicky Ahuja
The Accidental Prime Minister (film)         Anupam Kher
Why Cheat India                            Emraan Hashmi
Evening Shadows                         Mona Ambegaonkar
                                              ...
Hum Tumhare Hain Sanam                    Shah Rukh Khan
Aankhen (2002 film)                     Amitabh Bachchan
Saathiya (film)                             Vivek Oberoi
Company (film)                                Ajay Devgn
Awara Paagal Deewana                        Akshay Kumar
Name: lead, Length: 1500, dtype: object

<h5> astype

In [13]:
import sys
print(vk) # currently dtype is int 64
sys.getsizeof(vk) #total size of Seris

match_no
1       1
2      23
3      13
4      12
5       1
       ..
211     0
212    20
213    73
214    25
215     7
Name: runs, Length: 215, dtype: int64

3472

In [15]:
sys.getsizeof(vk.astype('int16')) # now taking less memory

2182

Use case : Convert the data type of a Series to another data type.  
To save memory, you can convert a Series to a smaller data type if you know that the data will fit in the smaller data type.

<h4> Between

In [ ]:
vk.between(50,100) # give you True for all the values between 50 and 100 both included

match_no
1      False
2      False
3      False
4      False
5      False
       ...
211    False
212    False
213     True
214    False
215    False
Name: runs, Length: 215, dtype: bool

In [18]:
vk[vk.between(50,100)].size

47

<h4> Clip </h4>

In [21]:
# given range me value of clip kar deta hai

subs.clip(100,200) # => 100 to 200 me values ko clip kar diya

0      100
1      100
2      100
3      100
4      100
      ...
360    200
361    200
362    155
363    144
364    172
Name: Subscribers gained, Length: 365, dtype: int64

<h4> drop_duplicates </h4>

In [ ]:
temp = pd.Series([1,1,2,2,3,3,4,4]) # => delete duplicate values but leave the first one
print(temp)

0    1
1    1
2    2
3    2
4    3
5    3
6    4
7    4
dtype: int64

In [26]:
temp.drop_duplicates()

0    1
2    2
4    3
6    4
dtype: int64

In [ ]:
temp.drop_duplicates(keep = 'last') # ab last occurrence keep kar rhe aur others delete ho rhe hai

1    1
3    2
5    3
7    4
dtype: int64

In [30]:
movies.drop_duplicates()

movie
Uri: The Surgical Strike                   Vicky Kaushal
Battalion 609                                Vicky Ahuja
The Accidental Prime Minister (film)         Anupam Kher
Why Cheat India                            Emraan Hashmi
Evening Shadows                         Mona Ambegaonkar
                                              ...
Sssshhh...                              Tanishaa Mukerji
Rules: Pyaar Ka Superhit Formula                  Tanuja
Right Here Right Now (film)                        Ankit
Talaash: The Hunt Begins...                Rakhee Gulzar
The Pink Mirror                          Edwin Fernandes
Name: lead, Length: 566, dtype: object

In [31]:
# Duplicates => to check weather there are duplicates values in the Series

movies.duplicated()

movie
Uri: The Surgical Strike                False
Battalion 609                           False
The Accidental Prime Minister (film)    False
Why Cheat India                         False
Evening Shadows                         False
                                        ...
Hum Tumhare Hain Sanam                   True
Aankhen (2002 film)                      True
Saathiya (film)                          True
Company (film)                           True
Awara Paagal Deewana                     True
Name: lead, Length: 1500, dtype: bool

In [33]:
movies.duplicated().sum()

934

In [34]:
vk.duplicated().sum()

137

<h4>isnull</h4>

In [35]:
temp = pd.Series([1,2,3,np.nan,5,6,np.nan,8,np.nan,10])
temp

0     1.0
1     2.0
2     3.0
3     NaN
4     5.0
5     6.0
6     NaN
7     8.0
8     NaN
9    10.0
dtype: float64

In [ ]:
print(temp.size)
print(temp.count()) # => only not null

10
7

In [42]:
temp.isnull()

0    False
1    False
2    False
3     True
4    False
5    False
6     True
7    False
8     True
9    False
dtype: bool

In [ ]:
temp.isnull().sum()

Inn missing values ko handle karne ka 2 methods hote hai :  
1. drop kar date hai  
2. fill kar date hai

<h4>dropna</h4>

In [ ]:
temp.dropna() # => removes all the null values

0     1.0
1     2.0
2     3.0
4     5.0
5     6.0
7     8.0
9    10.0
dtype: float64

<h4>fillna</h4>

In [49]:
temp.fillna(0) # => NaN will me filled by 0

0     1.0
1     2.0
2     3.0
3     0.0
4     5.0
5     6.0
6     0.0
7     8.0
8     0.0
9    10.0
dtype: float64

In [50]:
temp.fillna(temp.mean())

0     1.0
1     2.0
2     3.0
3     5.0
4     5.0
5     6.0
6     5.0
7     8.0
8     5.0
9    10.0
dtype: float64

<h4>isin</h4>

In [53]:
# ek sath multiple chehze ko check karta hai Series me

vk[(vk == 49) | (vk == 99)]

match_no
82    99
86    49
Name: runs, dtype: int64

ab Vk 49 and 99 out huva usko show kar diya above method se 



But agr hame 10,15,66,58,78 aise hee bhut se runs par out huva hai usko show karna hai too isin method use karenge

In [54]:
vk[vk.isin([49,99])]

match_no
82    99
86    49
Name: runs, dtype: int64

<h4>apply

In [55]:
movies

movie
Uri: The Surgical Strike                   Vicky Kaushal
Battalion 609                                Vicky Ahuja
The Accidental Prime Minister (film)         Anupam Kher
Why Cheat India                            Emraan Hashmi
Evening Shadows                         Mona Ambegaonkar
                                              ...
Hum Tumhare Hain Sanam                    Shah Rukh Khan
Aankhen (2002 film)                     Amitabh Bachchan
Saathiya (film)                             Vivek Oberoi
Company (film)                                Ajay Devgn
Awara Paagal Deewana                        Akshay Kumar
Name: lead, Length: 1500, dtype: object

In [56]:
def custom_function(str):
    str = str.split()
    str = str[0]
    return str.upper()
    
movies.apply(custom_function)

movie
Uri: The Surgical Strike                  VICKY
Battalion 609                             VICKY
The Accidental Prime Minister (film)     ANUPAM
Why Cheat India                          EMRAAN
Evening Shadows                            MONA
                                         ...
Hum Tumhare Hain Sanam                     SHAH
Aankhen (2002 film)                     AMITABH
Saathiya (film)                           VIVEK
Company (film)                             AJAY
Awara Paagal Deewana                     AKSHAY
Name: lead, Length: 1500, dtype: object

In [57]:
movies.apply(lambda x: x.split()[0].upper())

movie
Uri: The Surgical Strike                  VICKY
Battalion 609                             VICKY
The Accidental Prime Minister (film)     ANUPAM
Why Cheat India                          EMRAAN
Evening Shadows                            MONA
                                         ...
Hum Tumhare Hain Sanam                     SHAH
Aankhen (2002 film)                     AMITABH
Saathiya (film)                           VIVEK
Company (film)                             AJAY
Awara Paagal Deewana                     AKSHAY
Name: lead, Length: 1500, dtype: object

In [58]:
subs

0       48
1       57
2       40
3       43
4       44
      ...
360    231
361    226
362    155
363    144
364    172
Name: Subscribers gained, Length: 365, dtype: int64

In [59]:
subs.apply(lambda x: "Good Boy" if x > subs.mean() else "Bad Day")

0       Bad Day
1       Bad Day
2       Bad Day
3       Bad Day
4       Bad Day
         ...
360    Good Boy
361    Good Boy
362    Good Boy
363    Good Boy
364    Good Boy
Name: Subscribers gained, Length: 365, dtype: object

<h3>copy</h3>

In [78]:
new_head = vk.head()
new_head

match_no
1    100
2     23
3     13
4     12
5      1
Name: runs, dtype: int64

In [81]:
new_head[1] = 1
new_head # changes in the original data that mean that means head tails does not return a new series or data frame they return a view to the original data

match_no
1     1
2    23
3    13
4    12
5     1
Name: runs, dtype: int64

In [ ]:
vk # as you can see 1 match runs of the kholi is changed to 1 bcz of edit in the new_head

match_no
1       1
2      23
3      13
4      12
5       1
       ..
211     0
212    20
213    73
214    25
215     7
Name: runs, Length: 215, dtype: int64

In [82]:
# use copy to avoid this situation

In [63]:
new = vk.head().copy()

In [64]:
new[1] = 100

In [65]:
vk.head()

match_no
1     1
2    23
3    13
4    12
5     1
Name: runs, dtype: int64